{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit
{% endblock %}

{% block body %}
<h1>Edit {{entry}} Page</h1>
<form action="/wiki/edit/{{entry}}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group">
            <label for="content">Description</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{content | safe }}</textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
    <a class="btn btn-secondary" href="/wiki/{{entry}}">Cancel</a>
</form>
{% endblock %}